# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Jupyter / Experiments
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# Model Artifacts
# =========================
*.pkl
*.joblib
models/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Redis dump
# =========================
dump.rdb

# =========================
# Load testing outputs
# =========================
locust_reports/
